.loader {
  top: 20rem;
  left: 22rem;
}

.para {
  left: 25%;
  font-size: 2.5rem;
}

.navigation {
  flex-direction: column;
  line-height: 3.5;
  transition: all 1s;
  width: 100%;
}

.logo h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.aboute-me {
  display: flex;
  flex-direction: column;
}

.aboute-me img {
  display: block;
}

.bio {
  display: flex;
  margin: 0;
  padding: 0;
}

.bio-txt {
  display: block;
  position: relative;
  padding: 1rem 0;

  font-size: 1.5rem;
  color: #a2b7c3;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;

  /* top: -6rem; */
}

.box-port .images {
  width: 100%;
  margin: 1rem 1rem;
  border-radius: 5px;
  /* animation: picFade 0.5s ease; */
}

.icon-title {
  top: 5.5rem;
  left: 13.5rem;
}

.port-icon {
  display: none;
  position: absolute;
  z-index: 10000;
  top: 10rem;
  left: 14.2rem;
  margin: 0 auto;
}

.box-port::after {
  width: 91%;
  height: 89%;
}

.blog-box {
  width: 40vh;
}

.blog-img img {
  width: 40vh;
}
